frontend/node_modules
frontend/node_modules/*
frontend/.pnp
frontend/.pnp.js
.DS_Store

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

package-lock.json

#upload files
api/upload/*
!api/upload/default.png

node_modules
node_modules/*

api/tools/temp.json